* {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
}

h1.header {
    padding: 10px;
    text-align: justify;
}

p {
    text-align: justify;
    letter-spacing: 1px;
}

body {
    background: url(../../Assignment/img/wormz.png);
}

.parallax-pic-1 {
    height: 500px;
    padding-top: 5%;
    padding-left: 3%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../Assignment/img/VR_Person.jpg");
}

.parallax-pic-2 {
    height: 500px;
    padding-top: 5%;
    padding-left: 3%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-image: url("../../Assignment/img/VR_Market_Scale.jpg");
}

.container iframe {
    background-size: auto;
    margin: 0 auto;
    background-color: #777;
}

iframe {
    display: block;
    border-style: none;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th {
    height: 2rem;
    text-align: left;
    color: black;
    background-color: lightcyan;
}

table img {
    width: 100px;
    height: 100px;
}

th,
td {
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
}

tbody tr:nth-of-type(even) {
    background-color: lavenderblush;
}

tbody tr:hover {
    background-color: pink;
}


/*Above is for VrBlog*/

a {
    color: midnightblue;
}

.container {
    width: 80%;
    padding: 10px;
}

.main-content {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.blog-content {
    background-color: lightblue;
    float: left;
}

.blog-posting-listing {
    border: 4px solid lightslategray;
}

.box-title {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.box-meta {
    display: block;
    color: #FF0000;
}

.box-meta a {
    color: inherit;
}

.box-meta a:hover {
    font-weight: bold;
}

.read-more {
    color: lightcoral;
}

.box-content {
    border-bottom: 2px solid white;
}

.box-content p {
    color: #1186E3;
}

.box-content a {
    color: #FF0000;
}

.box-content a:hover {
    font-weight: bold;
}

@media (max-width:650px) {
    .container {
        width: 100%;
        height: auto;
    }
    body {
        width: 180%;
        padding: 0;
    }
}

@media (min-width:650px) {
    .navbar a {
        font-size: 1.2em;
    }
}