h1.header {
    padding: 10px;
    text-align: justify;
}

p {
    text-align: justify;
    letter-spacing: 1px;
}

body {
    background: url(../../Assignment/img/wormz.png);
}

.navbar {
    background-color: lightblue;
    overflow: visible;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: midnightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-bookmark {
    float: left;
    overflow: hidden;
}

.dropdown-bookmark .dropdown-bookmark-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-bookmark-content {
    display: none;
    position: absolute;
    background-color: lightcyan;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-bookmark-content a:hover {
    background-color: lightsalmon;
}

.dropdown-bookmark:hover .dropdown-bookmark-content {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    background-color: lightcyan;
}

.parallax-pic-1 {
    height: 500px;
    padding-top: 5%;
    padding-left: 3%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../Assignment/img/VR_Person.jpg");
}

.parallax-pic-2 {
    height: 500px;
    padding-top: 5%;
    padding-left: 3%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-image: url("../../Assignment/img/VR_Market_Scale.jpg");
}

.container iframe {
    background-size: auto;
    margin: 0 auto;
    background-color: #777;
}

iframe {
    display: block;
    border-style: none;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th {
    height: 2rem;
    text-align: left;
    color: black;
    background-color: lightcyan;
}

table img {
    width: 100px;
    height: 100px;
}

th,
td {
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
}

tbody tr:nth-of-type(even) {
    background-color: lavenderblush;
}

tbody tr:hover {
    background-color: pink;
}